# --- ОС/IDE
.DS_Store
Thumbs.db
Desktop.ini
.idea/
.vscode/
*.code-workspace

# --- Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
ENV/
.python-version

# --- Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
static_root/
feedback_log.jsonl

# --- Большие кэши и локальные хранилища
pdf_cache/
qdrant_storage/
rlt_tender_guide/
test_cfg.json

# --- Тесты/линтеры/кэши
.coverage*
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyrightcache/
.tox/
.nox/
.cache/

# --- Секреты/ключи
.env
*.pem
*.key
secrets.json

# --- Фронтенд
node_modules/
/sandbox/


# --- Личные датасеты
/txt_dataset/roseltorg_kb/
/txt_dataset/roseltorg_knowledge_base_full.txt

dataset/
/dataset/1_legislation/
/dataset/2_instructions/
/dataset/images/
/txt_dataset/local_files/
/dataset/

# --- Личные датасеты
/txt_dataset/roseltorg_kb/
/txt_dataset/roseltorg_knowledge_base_full.txt

*.png
/parse/
